html, body {
    background: url('../img/bg.jpg') center center no-repeat;
    height: 100%;
    background-size: cover;
}
/*
#logo img {
    padding-top: 20px;
}
*/

#intro p {
    padding-top: 100px;
    color: #292b2c;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
}